<?xml version="1.0" encoding="UTF-8" ?>
<beans>

    <bean id="userService"  class="com.ly.service.impl.UserServiceImpl">
        <property name="UserDao" ref="userDao"></property>
    </bean>

    <bean id="userDao"  class="com.ly.dao.impl.UserDaoImpl">
        <property name="ConnectionUtils" ref="connectionUtils"></property>
    </bean>


    <bean id="connectionUtils" class="com.ly.utils.ConnectionUtils"></bean>


    <bean id="proxyFactory" class="com.ly.factory.ProxyFactory">
        <property name="TransactionManager" ref="transactionManager"></property>
    </bean>


    <bean id="transactionManager" class="com.ly.utils.TransactionManager">
        <property name="ConnectionUtils" ref="connectionUtils"></property>
    </bean>




</beans>
